/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --background_gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);

  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'PressStart2P', monospace;
  --text-font-weight: 410;
  --subtitle-font-weight: 715;
  --header-title-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-text-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --main-text-size: 18px;
  --text-accent-size: 14px;
  --main-gap: 52px;
  --header-logo-padding: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem)
    clamp(1rem, -1.3438rem + 10vw, 7.65625rem);
  --main-padding: 100px clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
  --main-color: #000;
  --main-accent-color: #000;
  --cards-gap: 25px;
  --cards-padding: 25px;
  --background-color: #fff;
  --subtitle-padding: 4px 10px;
  --button-fill: #000;
  --button-hover: #fff;
  --contour-color: #000;
  --animation-fill-color: #f00;
  --sparks-color: #f00;
}
